html {
  background-color: rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(255, 255, 255);
}

body {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 5%;
  margin-bottom: 0%;
  color: black;
  background-color: rgba(0, 0, 0, 0);
}

form {
  grid-column-start: 3;
  grid-column-end: 6;
  margin: 5%;
  display: inline-flex;
  width: 90%;
  height: 50%
}

form button {
  width:30%
}

input {
  width: 100%
}

.light-mode {
  background-color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
}

.grid-container {
  row-gap: 1%;
  column-gap: 1%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.box {
  text-align: center;
  display: inline-block;
  background-color: darkolivegreen;
  border: black;
  border-width: 10px;
  border-radius: 20px;
  min-width: 80%;
  width: 80%;
  min-height: 80%;
  height: 90%
}

.articles-container {
  background-color: rgb(18, 110, 67);
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 1%;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.users-container {
  background-color: rgb(18, 110, 67);
  grid-column-start: 5;
  grid-column-end: 6;
  padding: 2%;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.user-mini-container {
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 10px;
  padding: 5%;
  margin-bottom: 5%;
  transition-duration: 0.3s;
}

.user-mini-container:hover {
  opacity: 50%
}

.user-mini-container img {
  width: 100%;
  aspect-ratio: 1/1
}

.user-mini-container text {
  -ms-text-size-adjust: 2%;
}

.article-card {
  z-index: 10;
  height: auto;
  overflow: hidden;
  overflow-y: hidden;
  border-radius: 20px;
}

.article-card:hover {
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(255, 255, 255);
}

.article-card img {
  z-index: 2;
  min-width: 100%;
  width: 100%;
  min-height: 60%;
  margin: -10% 0% -45% 0%;
  transition-duration: 0.3s;
  border-radius: 10px;
}
.article-card img:hover {
  opacity: 50%
}

.article-card-box {
  position: relative;
  margin-bottom: 2%;
  z-index: 100;
  padding: 1px 2% 1px 2%;
  background-color: rgba(100, 141, 23, 0.8);
  pointer-events: none;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.comment-box {
  background-color: rgba(0, 0, 0, 0.445);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px
}

.navbar-container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 100%;
  background-color: rgb(100, 141, 23);
  border-radius: 20px;
}

.navbar-button {
  background-color: rgb(100, 141, 23);
  transition-duration: 0.4s;
  height: 50px;
  border-radius: 20px;
  margin: 5%;
  width: 100%;
}
.navbar-button:hover {
  background-color: rgb(126, 151, 82);
}

.blank {
  margin-left: 10%;
  width: 10%;
  background-color: transparent;
}

button {
  background-color: rgb(100, 141, 23);
  -webkit-text-fill-color: rgb(255, 255, 255);
}